@import 'base/variables';
@import 'base/mixins';

* {
   font-family: 'Roboto', sans-serif;
}
.container {
   width: 1140px;
   margin: 0 auto;
}
body {
   display: block;
   margin: 0;
}

@import 'blocks/buttons';
@import 'blocks/promo';
@import 'blocks/titles';
@import 'blocks/advantages';
@import 'blocks/reasons';
@import 'blocks/info';
@import 'blocks/prices';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/schemeofwork';